extends ./../layouts/header.pug 


block title 
    title=title 

block css
    link(rel="stylesheet", href="./css/login.css")


block jsScript
    script(src="./js/login.js" defer) 


block bodyContent
    h1 Register Page
